body {
  font-family: Arial, sans-serif;
  background-color: #111010;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #880505;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.sidebar {
  width: 240px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.sidebar h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #fff;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.product {
  width: calc(33.33% - 20px);
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
}

.product a {
  display: block;
  overflow: hidden;
  border-radius: 12px;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.product .mt-4 {
  padding-top: 15px;
}

.product h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #888;
  margin-bottom: 8px;
}

.product h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.btn {
  background-color: #06f10e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

.cart {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  align-self: flex-start;
  position: sticky;
  top: 20px;
}

.cart p {
  margin: 0;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.cart span {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 0.9rem;
}
